* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  color: #505358ea;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/*.header {
  background-color: #57757D;
  position: relative;
  width:500px;
  height: 800px;
}*/

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 32px;
  text-transform: uppercase;
  color: #2d2f33ea;
  letter-spacing: 3px;
} 

p {
text-align: justify;
line-height: 1.5;
}

.section-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0d1c38ea;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-list li {
  float: left;
  border-right:1px solid #ffffff;
}

.nav-list a {
  display: block;
  font-size: 0.8em;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  background-color: #57757D;
}

.nav-list a:hover{
  background-color:#364a50;
}

.section-list {
  font-family: 'Noto Sans', sans-serif;
  list-style-type: none;
  font-size: 16px;
  color: #505358ea;
}

.item::before {
  content: "•";
  font-size: 16px;
  color: #64242dea;
  padding: 10px;
}

.item span {
  font-style: italic;
}

.footer {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  color: #79797aea;
}

.footer a {
  text-decoration: none;
}