* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  color: #505358ea;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.column-left {
  width: 60%;
  position: relative;
  margin: 5px;
}
h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 42px;
  text-transform: uppercase;
  color: #0e1f2bea;
  letter-spacing: 3px;
} 

p {
text-align: justify;
line-height: 1.5;
font-size: 16px;
}

.section-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0d1c38ea;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 3px solid #364a50;
}

.nav-list a {
  display: block;
  font-size: 0.8em;
  color: #57757D;;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  background-color: white;
}

.nav-list a:hover{
  background-color:#364a50;
  color: white;
}

.img {
  position: relative;
  float: right;
  margin: auto;
  top: 10px;
  right: 40px;
}

/*.img-wrapper {
  background-color: #364a50;
  width: 30%;
  float: right;
  height: 346px;
}*/

.section-list {
  font-family: 'Noto Sans', sans-serif;
  list-style-type: none;
  font-size: 16px;
  color: #505358ea;
  padding: 0;
}

.mail {
  background-image: url(./assets/images/mail_icon.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  position: relative;
}

.column-left {
  width: 80%;
}

#circle {
	width: 100px;
	height: 100px;
	background: #505358ea;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  margin-right: 0px; 
}

.item::before {
  content: "•";
  font-size: 16px;
  color: #64242dea;
  padding: 10px;
}

.item span {
  font-style: italic;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: #79797aea;
  border-top: 5px solid #364a50;
}

.footer a {
  text-decoration: none;
}